{% extends "base.html" %}

{% block content %}

    <div>
        <div class="form-group">
        <form action="/books" method="post">

            <label for="title">Title</label>
            <input type="text" name="title" id="title">

            <label for="author">Author</label>
            <input type="text" name="author" id="author">

            <label for="genre">Genre</label>
            <input type="text" name="genre" id="genre">

            <input type="submit" value="Add Book">

        </form>
        </div>

    </div>
    <p>
        <div class="title"><h1> {{ title }} </h1></div>
    </p>
    
    {% for book in books %}
    <div class="book-container"><p>
        {{ book.title }} by {{ book.author }}. <a href="http://127.0.0.1:4999/books/{{books.index(book)}}">  Read more...</a>
    </p>
    <p>Availability?

        {% if book.checked_out %}
        &#10060;  Sorry, this book is checked out! It is due back on {{ book.return_date.strftime('%d-%m-%Y') }}.
        <form action="/books/return/{{ book.title }}" method="post">

            <label for="return_book">Return book?</label>
            <div class="form-group-a"><input type="submit" value="Return Book"></div>
        </form>
        {% else %}
        &#9989; This book is available!
        
        <form action="/books/checkout/{{ book.title }}" method="post">

            <label for="checkout_book">Checkout book?</label>
            <div class="form-group-a"><input type="submit" value="Checkout Book"></div>
        </form>
        {% endif %}

    </p>
    <form action="/books/delete/{{ book.title }}" method="post">

        <label for="delete_book">Remove book from Library? </label>
        <div class="form-remove"><input type="submit" value="Remove Book"></div>

    </form>
    </div>
    {% endfor %}


{% endblock %}